{% load static %}

<head>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.6/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src="{% static 'js/dist/game.js' %}"></script>
</head>

<body style="margin: 0">
    <div id="mygame"></div>
    <script>
        $(document).ready(function(){
                let mygame = new MyGame("mygame");
            })
    </script>

</body>


